<div class="row">
    <div class="col-sm-3 ">
        <a href="/beers/beer-{{this.id}}">
            <img src="{{this.image_url}}" alt="{{this.name}}" style="width:30px; height:auto; display:block;"></a>
    </div>

    <div class="col-sm-9">
        <h2>{{this.name}}</h2>
        <small>{{this.tagline}}</small>
        <p>{{this.description}}</p>
    </div>
</div>
