<div class="d-flex justify-content-around">
    <div class = "p-2"><img src="{{this.image_url}}" alt="{{this.name}}" style="width:30px; height:auto; display:block;"></div>
<div class = "p-4">
 <h2>{{this.name}}</h2>
 <small>{{this.tagline}}</small>
<p>{{this.description}}</p>